<!-- views/index.ejs -->
<!doctype html>
<html>
<head>
  <title>Flock - Tweet together</title>
  <link rel="stylesheet" href="../app/assets/animate.css">
  <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
  <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
   <link href='http://fonts.googleapis.com/css?family=Maven+Pro:400,700' rel='stylesheet' type='text/css'>
   <link href="app.css" rel="stylesheet">
   <link href='http://fonts.googleapis.com/css?family=Lato:300,400' rel='stylesheet' type='text/css'>


</head>

<body>
        <div  class="login text-center">
            <img src="/images/FlockLogo.jpg" id="logo"></span>

            <a href="/auth/twitter" class="btn btn-info"><span class="fa fa-twitter"></span> LOGIN</a>
        </div>

</body>
</html>
